.about-us-grid {
  @include grid-2;
}

.about-us-card {
  border: none;
  background: none;
  @include f-center;
}

.how-to {
  background: rgba(0, 0, 0, 0.2);
  @include f-center;
  color: white;

  h2 {
    padding: 2rem;
  }

  p {
    padding-bottom: 2rem;
  }
}
