nav {
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;

  .navbar-collapse {
    @include f-center;
    flex-direction: row;
    justify-content: center;

    .navbar-nav {
      @include f-center;
      flex-direction: row;
      justify-content: space-between;
    }

    .nav-item {
      margin-top: 1rem;
      @include f-center;
      color: white;
      padding: 0.5rem;

      a {
        transition: all 0.2s ease;
        text-decoration: none !important;
        margin: 0 4rem;
        color: white;
        letter-spacing: 2px;
        &:hover {
          color: rgb(204, 204, 204);
        }
        &:active {
          color: red;
        }
      }
    }

    .active-nav-item {
      background: rgba(201, 201, 201, 0.418);
      border-radius: 5px;
    }
  }
}

.nav-item {
  cursor: pointer;
}

.mobile-nav-container {
  height: 100%;
  width: 80vw;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: hsla(0, 0%, 0%, 0.976); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  @include f-center;

  .mobile-nav {
    a {
      font-size: 31px;
      color: white;
      text-decoration: none;
      &:hover {
        color: rgb(204, 204, 204);
      }
      &:active {
        color: red;
      }
    }

    ul {
      list-style: none;

      .nav-item {
        margin: 3rem 0;
      }
    }
  }
}

.__hidden {
  width: 0;
}
