@mixin f-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin f-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > * {
    // padding: 0 5rem;
  }
}

@mixin grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@mixin grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn-1 {
  background: rgb(180, 121, 79);
  color: white;
  font-size: 24px;
  transition: all 0.2s ease;
  border-radius: 2px;

  &:hover {
    background: rgb(148, 99, 65);
    color: white;
  }
}
