@import "./variables";
@import "./hero";
@import "./topBody";
@import "./bottomBody";
@import "./forms";
@import "./footer";
@import "./responsive";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.test {
  max-width: 25rem;
  overflow-x: hidden;
}

body {
  background: #fffffe;
}

.pattern {
  background-image: linear-gradient(
      rgba(255, 248, 231, 0.7),
      rgba(145, 139, 125, 0.4)
    ),
    url("../images/dot-grid.png");
  background-position: fixed;
  padding: 5rem 0;
}
