@import "./variables";
@import "./navbar";
@import "./hero";
@import "./topBody";
@import "./bottomBody";
@import "./forms";
@import "./posts";
@import "./footer";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.test {
  max-width: 25rem;
  overflow-x: hidden;
}

body {
  background: #fffffe;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.pattern {
  background-image: linear-gradient(
      rgba(255, 248, 231, 0.7),
      rgba(145, 139, 125, 0.4)
    ),
    url("../images/dot-grid.png");
  background-position: fixed;
  padding: 5rem 0;
}

@import "./responsive";
